body{
font-family: Arial;
background-color:#f4f4f4;
margin:0;
}

header{
background:#333;
color:white;
text-align:center;
padding:20px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:5px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}
